* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {}

header {
    margin: 0 auto;
}

/* nav start =======================*/
header .navigation {
    display: flex;
    justify-content: space-between;
}

header .navigation .logo {
    margin-left: 120px;
    margin-top: 16px;
    margin-bottom: 16px;
}

header .navigation .logo img {
    max-height: 60px;
}

header .navigation .menu ul {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style-type: none;
    margin-top: 34px;
    margin-bottom: 34px;
}

header .navigation .menu ul li a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #000000;
}

header .navigation .menu ul li a:hover {
    color: green;
}

header .navigation .early-access-top {
    margin-right: 120px;
}

header .navigation .early-access-top button {
    border: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(5, 231, 5);
    border-radius: 5px;
    padding: 12px 16px;
    margin-top: 24px;
    cursor: pointer;
}

header .navigation .early-access-top button:hover {
    background-color: green;
    transition: .5s;
}

/* nav end ==============================*/

/* banner start ========================*/
header .banner {
    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner .banner-content {
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding: 154px 120px 180px 120px;
}

.banner .banner-content .top-button button {
    border: none;
    font-size: 16px;
    color: green;
    background-color: #fff;
    border-radius: 20px;
    padding: 12px 16px;
    margin-bottom: 24px;
    cursor: pointer;
}

.banner .banner-content .top-button button:hover {
    background-color: green;
    color: #fff;
    transition: 0.5s;
}

.banner .banner-content h1 {
    font-size: 72px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}

.banner .banner-content h1 span {
    color: rgb(5, 231, 5);
}

.banner .banner-content p {
    margin-left: 295px;
    margin-right: 295px;
    margin-top: 16px;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}

.banner .banner-content .bottom-button button {
    border: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(5, 231, 5);
    border-radius: 5px;
    padding: 16px;
    margin-top: 24px;
    cursor: pointer;
    margin-right: 16px;
}

.banner .banner-content .bottom-button button:hover {
    background-color: green;
    transition: .5s;
}

.banner .banner-content .bottom-button .button-2 {
    background-color: transparent;
    border: 1px solid #fff;
}

/* banner end ================================*/

/* note starts ===============================*/

.note {
    background-color: #f8f6f6;
    padding-top: 80px;
}

.note-container {
    max-width: 1360px;
    margin: 0 auto;
}

.note-container .note-heading {
    text-align: center;

}

.note-container .note-heading h2 {
    font-size: 48px;
    text-transform: capitalize;
    color: #001931;
}

.note-container .note-heading p {
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    margin-top: 16px;
}

.note-container .note-info {
    margin-top: 44px;
    display: flex;
    column-gap: 24px;
}

.note-container .note-info .card {
    text-align: center;
    background-color: #ffffff;
    padding-bottom: 20px;
    padding: 80px 30px 20px 30px;
    box-shadow: 3px 3px 0 3px #ebe8e8;
    box-shadow: rgba(0, 0, 0, 0.24) 0px -5px 6px;
    border-radius: 10px 10px 0 0;
}

.note-container .note-info .card i {
    display: inline-block;
    background-color: #f95555;
    color: #ffffff;
    width: 24px;
    height: 24px;
    font-size: 20px;
    padding: 14px;
    line-height: 24px;
    border-radius: 30px;
}

.note-container .note-info .card h3 {
    font-size: 24px;
    color: #001931;
    margin-top: 16px;
    text-transform: capitalize;
}

.note-container .note-info .card .text {
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    margin-top: 16px;
}

/* note ends ===================================*/

/* brain starts ===========================*/
.brain {
    padding-top: 120px;
}

.brain .knowladge {}

.brain .knowladge img {}

.brain .brain-container {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    column-gap: 60px;
}

.brain .knowladge {}

.brain .brain-info {
    padding-top: 120px;
    padding-right: 70px;
}

.brain .brain-info h4 {
    font-size: 16px;
    text-transform: uppercase;
    color: green;
}

.brain .brain-info h2 {
    font-size: 48px;
    text-transform: capitalize;
    color: #001931;
    margin-top: 20px;
}

.brain .brain-info p {
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    margin-top: 16px;
}

.brain ul {
    text-decoration: none;
}

.brain ul li {
    text-decoration: none;
    font-size: 16px;
    color: black;
    line-height: 24px;
    font-weight: bold;
    margin-top: 16px;
    list-style-image: url("assets/CheckCircle.png");
    background-repeat: no-repeat;
    background-position: 0 center;
    margin-left: 25px;
}

/* brain ends ===========================*/

/* early-access starts ==================*/
.early-access {
    margin-top: 120px;
}

.early-access .content {
    background-color: #f6f6f2;
    text-align: center;
    margin: 0 auto;
    max-width: 1360px;
    padding: 80px 0px;
}

.early-access .content h2 {
    font-size: 48px;
    text-transform: capitalize;
    color: #001931;
}

.early-access .content p {
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    padding: 16px;
}

.early-access .content button {
    border: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(5, 231, 5);
    border-radius: 5px;
    padding: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.early-access .content button:hover {
    background-color: green;
    transition: .5s;
}

/* early-access ends ====================*/

/* footer starts =======================*/

.footer {
    background-color: #001831;
    margin-top: 120px;
    padding-top: 120px;
}

.footer .content {
    max-width: 1360px;
    margin: 0 auto;
}

.footer .content .logo-media {
    display: flex;
    justify-content: space-between;
}

.footer .content .logo-media .logo {
    border: 1px solid gray;
}

.footer .content .logo-media .social-media {}

.footer .content .logo-media .social-media {
    padding-right: 100px;
}

.footer .content .logo-media .social-media p {
    font-size: 16px;
    color: #fff;
    padding-bottom: 15px;
}

.footer .content .logo-media .social-media ul {
    display: flex;
    list-style-type: none;
}

.footer .content .logo-media .social-media ul li a {
    color: black;
    width: 50px;
    height: 50px;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 40px;
    padding: 3px;
}

.footer .content .logo-media .social-media ul li a:hover {
    background-color: green;
    transition: .5s;
    color: #fff;
}

.footer .content .copyright {
    margin-top: 80px;
    padding: 30px 5px;
    text-align: center;
    border-top: 1px solid #2d4156;
}

.footer .content .copyright p {
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    padding: 16px;
}

/* footer ends =========================*/



/* ============= */
/* ===END=== */
/* ============= */